@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: white;
    color: whitesmoke;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar a {
    font-size: 18vw;
    color: whitesmoke;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s
}

.navbar a:hover, 
.navbar a.active {
    color: pink;
}

.home-headline {
    height: 50%;
    width: 100%;
    background-color: black;
    display: flex;
    padding: 100px 5% 0px;
}

.home-intro {
    margin: 10px;
    padding: 20px;
    width: 100%;
}

.home-intro h1 {
    font-size: 80vw;
    font-weight: 700;
    line-height: 2.0;
}

.home-intro h2 {
    font-size: 40vw;
    font-weight: 700;
    color: pink;
}

.home-intro h3 {
    font-size: 20vw;
    font-weight: 500;
    color: grey;
}

.home-content {
    height: 50%;
    width: 100%;
    background: transparent;
    display: flex;
    padding: 50px 5% 100px;
}

.home-about {
    float: right;
    margin: 10px;
    padding: 20px;
    width: 50%;
}

.home-about h2 {
    font-size: 32vw;
    font-weight: 700;
    color: pink;
}

.home-about p {
    color: black;
    font-size: 16vw;
    float: right;
    margin: 20px 0 40px;
}

img {
    width: 300px;
    border-radius: 150px;
    float: left;
    margin-left: 100px;
    margin-right: 50px;
  }

.home-sci {
    position:fixed;
    bottom: 50px;
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: transparent;
    font-size: 40px;
    color: pink;
    text-decoration: none;
}